@charset "UTF-8";

.table {
  border: 1px #5D5D5D solid;
  font-size: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,.25);
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  table-layout:fixed;
}

.table th {
  text-align: center;
}
  
.table thead {
  font-weight: bold;
  color: #fff;
  background: #96C7ED	;
}
  
.table td {
  border-bottom: 1px solid rgba(0,0,0,.1);
  background: #fff !important;
}


/* 상단 검색창 */
.table-top{
	border: none;
	margin-bottom: 10px;
}

.table-hover a{
	text-decoration: none;
	font-weight: 500;
	color: #333;
}

.table-hover a:hover{
	color: #333;
}

input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 2px 3px;
  outline: none;
}

input[type="submit"]{
	background: #DDDDDD;
	color: #333;
	border: none;
    display: inline-block;
    padding: 5px 5px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

input[type="submit"]:hover{
  background: rgb(153, 153, 153);
  color: white;
}



button[type="button"]{
	background: #DDDDDD;
	color: #333333;
	border: none;
	margin: 0 auto;
    padding: 10px 10px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

button[type="button"]:hover{
  background: rgb(153, 153, 153);
  color: white;
}

/* 글쓰기 버튼 위치 */
.table-bottom{
	float: right;
}


/* 페이지 번호 */

.pagination-wrapper {
	width:  50%;
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: #8CBDED;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active){
	background-color: #ddd;
    border-radius: 5px;
 }
 
 
/* 검색 필터 */
 .filter-wrapper{
	text-align: center;
}

.filter-wrapper input[type="submit"]{
	background: #DDDDDD;
	color: #333;
	border: none;
    display: inline-block;
    padding: 5px 5px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.filter-wrapper input[type="submit"]:hover{
  background: rgb(153, 153, 153);
  color: white;
}

select {
  width: 100px;
  padding: 2px 3px;
  background: url('../../images/icon-chevron.png') no-repeat 90% 50%;
  background-size: 15%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #999;
  border-radius: 5px;
}

select::-ms-expand { /* for IE 11 */
    display: none;
}