@charset "UTF-8";

.table-middle {
  border: 1px #5D5D5D solid;
  font-size: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,.25);
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  table-layout:fixed;
  max-width: 1000px;
  width: 80%;
}

.table-middle tr{
	height: 40px;
}

.table-middle th {
border: 1px solid rgba(0,0,0,.1);
  text-align: center;
}
  
.table-middle td {
  border: 1px solid rgba(0,0,0,.1);
  background: #fff;
}

.middle-menu{
	width: 20%;
}

/* 상단 제목 ('상세보기') */
.table-top{
	border: none;
	margin-top: 20px;
	margin-bottom: 20px;
}



button[type="button"]{
	background: #96C7ED;
	color: #333333;
	border: none;
	margin: 0 auto;
    padding: 10px 10px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

button[type="button"]:hover{
  background: #70d2e2d4;
  color: #333333;
}

.table-bottom{
	margin-top: 10px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #FFFFFF;
}
a {
    color: black;
	font-weight: 600;
    text-decoration: none;
}
.blog-comment::before,
.blog-comment::after,
.blog-comment-form::before,
.blog-comment-form::after{
    content: "";
	display: table;
	clear: both;
}

.blog-comment{
    padding-left: 10%;
	padding-right: 10%;
}

.blog-comment ul{
	list-style-type: none;
	padding: 0;
}

.blog-comment img{
	opacity: 1;
	filter: Alpha(opacity=100);
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	  	 -o-border-radius: 4px;
			border-radius: 4px;
}

.blog-comment img.avatar {
	position: relative;
	float: left;
	margin-left: 0;
	margin-top: 0;
	width: 65px;
	height: 65px;
}

.blog-comment .post-comments{
	border: 1px solid #eee;
    margin-bottom: 20px;
    margin-left: 85px;
	margin-right: 0px;
    padding: 10px 20px;
    position: relative;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
       	 -o-border-radius: 4px;
    		border-radius: 4px;
	background: #fff;
	color: #6b6e80;
	position: relative;
}

.blog-comment .meta {
	font-size: 15px;
	color: #aaaaaa;
	padding-bottom: 8px;
	margin-bottom: 10px !important;
	border-bottom: 1px solid #eee;
}

.blog-comment ul.comments ul{
	list-style-type: none;
	padding: 0;
	margin-left: 85px;
}

.blog-comment-form{
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 40px;
}

.blog-comment h4,
.blog-comment-form h4{
	margin-top: 40px;
	margin-bottom: 10px;
	font-size: 20px;
	line-height: 30px;
	font-weight: 800;
}

.blog-comment span{
	font-size: 18px;
	margin-right: 10px;
	font-weight: 600;
	color: black;
}

.pull-right{
	float: right;
}

.pull-right a{
	margin-left: 5px;
}

#comment-content{
	color:#353535;
}

#content{
	width: 80%;
}

.comment-header{
	text-align: center;
	width:100%;
}
