@charset "UTF-8";

.table-middle {
  border: 1px #5D5D5D solid;
  font-size: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,.25);
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  table-layout:fixed;
  max-width: 1000px;
}

.table-middle tr{
	height: 40px;
}

.table-middle th {
border: 1px solid rgba(0,0,0,.1);
  text-align: center;
}
  
.table-middle td {
  border: 1px solid rgba(0,0,0,.1);
  background: #fff;
}


/* 상단 제목 ('상세보기') */
.table-top{
	border: none;
	margin-top: 20px;
	margin-bottom: 20px;
}



button{
	background: #D7CCC8;
	color: #333333;
	border: none;
	margin: 0 auto;
    padding: 10px 10px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

button:hover{
  background: #E6CCC8;
  color: #333333;
}

.table-bottom{
	margin-top: 10px;
}

