@charset "UTF-8";
*{
	margin:0 auto;
	padding: 0;
	font-family: "Noto Sans KR";
}

.noto-sans  {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

html, body {
	margin: 0;
	height: 100%;
}
/* #tour_detail_wrapper{
	margin-top: 80px;
	width: 100%;
	height: 100%;
} */
.menu{
	z-index:9999;
}
.container{
	width:80%;
	height: 100%;
	padding: 30px;
	text-align: center;
	margin-top: 100px;
}
.tour_title{
	padding: 20px;
    font-size: 24px;
    width: 100%;
    margin-bottom: 20px;
}
blockquote{
	display:block;
	width:100%;
	padding: 15px 45px 15px 65px;
	padding-left:6em;
	margin: 0 0 20px;
	border-top:3px solid black;
	border-bottom:3px solid black;
}
.detail-image{
	margin-top: 20px;
	width: 100%;
}
#explain{
	font-size: 24px;
	text-align: left;

}
.description {
	position: relative;
    margin-right: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    text-align: left;

}

#map {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
	float: left;
}
.map_info{
	margin-top: 20px;
}
.like{
	 -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    justify-content: center;
}
/* 버스테이블 */
/* 이미지크기 */
.routetp{
	width:30px;
}
.bustable {
/* 	border-collapse:collapse; */
	}
.bustable tr{
	border-bottom: 2px solid lightgray;
}
#bustable{
	height: 620px;
    overflow: hidden;
    overflow-y: scroll;
}
#mark3{
	background-color: #f89b00;
    color: white;
    font-weight: 600;
    border-radius: 5px 5px 5px 5px;
}
#busbody p{
	margin-bottom:0px !important;
}
.td1{
	float: left;
    width: 246px;
}
.td2{
	width:100%;
}
.td3{
	font-weight: 500;
	width:100%;
}