@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
/*초기화*/
* {
	font-family: "Noto Sans KR", sans-serif;
	margin: 0;
	padding: 0;
}
/*폰트*/


.noto-sans kr-mainfont {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/*폰트*/


.course_title {
    position: relative;
	width: 150px;
    height: 50px;
    /* box-shadow: 0 0 10px 0 rgb(0,0,0); */
    /* border: 5px solid rgba(101, 58, 5, 0.6); */
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    z-index: 100;


    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(235, 250, 250, .25); /* 밝게 보이도록 배경색 추가 */
    border-radius: 30px; /* 둥근 테두리 */
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    border-width: 1px 1px 0 0; /* 입체감 흰색 테두리 */
    border-color: #fff;
    border-style: solid;
    
}

.course_title span {
	font-family: "Noto Sans KR";
	font-size: 15px;
}


.swiper2 {
	position: relative;
	width: 80% !important;
	height: 100% !important;
}

.swiper2 .swiper-wrapper {
	position: relative;
	margin-top: 10px;
	margin-bottom: 40px;
}

.swiper2 .swiper-slide {
	position: relative;
	font-size: 18px; 
	/* background: url('../images/b1.jpg'); */
	padding-top: 10px;
	width: auto;
	height: 490px;
}

.swiper2 .swiper-slide img {
    position: absolute;
    left: 580px;
    bottom: 10px;
    height: 550px;
    border-radius: 30px 30px 30px 30px;
    width: 900px;
    z-index: 1;
    opacity: 1.0;
}

.swiper2 .swiper-slide .tour_slide_name {
    font-family: 'Noto Sans KR';
    position: absolute;
    top: 0px;
    left: 30px;
    font-size: 30px;
    font-weight: bold;
    color: black;
    padding: 10px;
    border-radius: 5px;
    z-index: 2;
    width: 559px;
}

.swiper2 .swiper-slide .tour_slide_subname {
    font-family: 'Noto Sans KR';
    position: absolute;
    top: 110px;
    left: 30px;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    width: 557px;
    height: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.course_detail {
    position: absolute;
    width: 532px;
    height: 180px;
    background: #a0a0a0;
    opacity: 0.7;
    top: 300px;
    left: 22px;
    border-radius: 20px 20px 20px 20px;
}
.swiper2 .swiper-button-next {
	background: url('/resources/images/right_arrow.png') no-repeat;
	background-size: 110% auto;
	background-position: center;
}

.swiper2 .swiper-button-prev {
	background: url('/resources/images/left_arrow.png') no-repeat;
	background-size: 110% auto;
	background-position: center;
}

.swiper2 .swiper-button-next::after, .swiper2 .swiper-button-prev::after
	{
	display: none;
}

.swiper2 .swiper-pagination {
	position: absolute;
	bottom: 10px !important;
	background: none;
}

.swiper2 .swiper-pagination-bullet {
	background: rgb(102,153,255);
}

/* 타임라인 스타일 */
.timeline {
    width: 100%;
    height: 20px;
    list-style: none;
    text-align: center;
    position: absolute;
    padding-left:0px;
    padding-right: 0px;
    left: 50%;
    top: 50%;    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 45%, rgba(191, 128, 11, 1) 51%, rgba(255, 255, 255, 0) 57%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(45%, rgba(255, 255, 255, 0)), color-stop(51%, rgba(191, 128, 11, 1)), color-stop(57%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 45%, rgba(191, 128, 11, 1) 51%, rgba(255, 255, 255, 0) 57%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 45%, rgba(191, 128, 11, 1) 51%, rgba(255, 255, 255, 0) 57%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 45%, rgba(191, 128, 11, 1) 51%, rgba(255, 255, 255, 0) 57%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 45%, rgba(191, 128, 11, 1) 51%, rgba(255, 255, 255, 0) 57%, rgba(255, 255, 255, 0) 100%);
}

.timeline:after {
    display: inline-block;
    content: "";
    width: 100%;
}

.timeline li {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #F2BB13;
    text-align: center;
    line-height: 1.2;
    position: relative;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: 0px 40px;
}

.timeline li:before {
    display: inline-block;
    content: attr(data-year);
    font-size: 15px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.timeline li:nth-child(odd):before {
    top: -40px;
}

.timeline li:nth-child(even):before {
    bottom: -40px;
}

.timeline li:after {
	font-weight: 900;
	width: 84px;
    display: inline-block;
    content: attr(data-text);
    font-size: 16px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.timeline li:nth-child(odd):after {
    bottom: 0;
    margin-bottom: -10px;
    -webkit-transform: translate(-50%, 100%);
    -moz-transform: translate(-50%, 100%);
    -ms-transform: translate(-50%, 100%);
    -o-transform: translate(-50%, 100%);
    transform: translate(-50%, 100%);
}

.timeline li:nth-child(even):after {
    top: 0;
    margin-top: -10px;
    -webkit-transform: translate(-50%, -100%);
    -moz-transform: translate(-50%, -100%);
    -ms-transform: translate(-50%, -100%);
    -o-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
}