@charset "UTF-8";
@import
	url('https://fonts.googleapis.com/css2?family=Gugi&family=Poor+Story&display=swap')
	;

@import
	url('https://fonts.googleapis.com/css2?family=Gugi&family=Hahmlet:wght@100..900&family=Poor+Story&display=swap')
	;
	
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
/*초기화*/
* {
	margin: 0;
	padding: 0;
}

/*폰트*/
.gugi-regular {
	font-family: "Gugi", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.hahmlet {
	font-family: "Hahmlet", serif;
	font-optical-sizing: auto;
	font-weight: 100;
	font-style: normal;
}
.gowun-dodum-regular {
  font-family: "Gowun Dodum", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.noto-sans kr-mainfont {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
.swiper1 {
	position: relative;
	width: 100%;
	height: 100%;
	background: none;
}

.course_title1 {
	width: 150px;
	height: 50px;
	/*
	border: 5px solid rgba(101, 58, 5, 0.6);
	*/
	text-align: center;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: center; 
	margin-left:350px;

    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(235, 250, 250, .25); /* 밝게 보이도록 배경색 추가 */
    border-radius: 30px; /* 둥근 테두리 */
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    border-width: 1px 1px 0 0; /* 입체감 흰색 테두리 */
    border-color: #fff;
    border-style: solid;
}

.course_title1 span {
	font-family: "Noto Sans KR";
	font-size: 15px;
}

.body-wrapper {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 1200px;
    height: 740px;
}


.swiper1 .swiper-slide {
	position: relative;
	text-align: center;
	font-size: 18px;
    background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
	text-align: center;
	justify-content: center;
	align-items: center;
	padding-top: 10px;
	border-radius: 20px 20px 20px 20px;
	height: 650px;
	
}

.swiper1 .swiper-slide img {
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 70px;
	border-radius: 10px 10px 10px 10px;	
	width: 300px;
	height: 200px;
}

.swiper1 .swiper-slide a {
	text-decoration: none;
	position: absoulte;
	font-family: 'Noto Sans KR';
	font-size: 30px;
	color:rgb(101, 58, 5); 
}

.swiper1 .swiper-slide span {
	position: absolute;
	left: 50%;
    transform: translateX(-50%);
	top: 300px;
	font-family: 'Noto Sans KR';
	font-size: 20px;
	color:black;
}

.swiper1 .swiper-button-next {
	background: url(../images/right_arrow.png) no-repeat;
	background-size: 70% auto;
	background-position: center;
}

.swiper1 .swiper-button-prev {
	background: url(../images/left_arrow.png) no-repeat;
	background-size: 70% auto;
	background-position: center;
}

.swiper1 .swiper-button-next::after, .swiper1 .swiper-button-prev::after
	{
	display: none;
}

.swiper1 .swiper-pagination {
	position: absolute;
	bottom: 0px;
}

.swiper1 .swiper-pagination-bullet {
	background: rgb(101, 58, 5);
}