@charset "UTF-8";
@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

.noto-sans kr-mainfont {
	font-family: "Noto Sans KR", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

* {
	font-family: 'Noto Sans KR';
}

/* 전체 컨테이너 */
.container-fluid {
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	max-width: 80%;
	overflow-x: hidden;
}
.title_write {
	font-weight: 600;
	border: 2px solid rgba(0, 0, 0, 0.5);
	padding: 10px 10px;
	border-radius: 10px 10px 10px 10px;
}

.title_write:hover {
	background: rgb(105, 92, 254);
	color: white;
}

.title_write.active {
	background: rgb(105, 92, 254);
	color: white;
}

/* 스크롤 영역 지정 */

/* 스크롤이 필요한 부분에만 스크롤 적용 */
.scrollable {
	max-height: calc(100vh - 150px); /* 높이 조정 */
	overflow-y: auto;
}

/* 테이블 내 요소 속성 */
.favorite_tour_img{
	width: 200px;
	height: 100px;
}

.favorite_tour_overview {
  width: 450px;	
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
/*   word-break: keep-all; 문단으로 자르기*/
}



