@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

*{
	margin:0 auto;
	padding: 0;
	font-family: "Noto Sans KR";
}

.noto-sans  {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


html, body {
	margin: 0;
	height: 100%;
	overflow: hidden;
}

#course_detail_wrapper{
	margin-top: 80px;
	width: 100%;
	height: 100%;
}
.left_box{
	float:left;
	width:20%;
	height: 100%;
	padding: 50px;
	text-align: center;
    position: static;
	border-right: solid 1px gray;
	background: rgb(244,252,255);
	box-sizing : border-box; /* padding 설정여부 상관없이 원래 사이즈대로 공간설정 */
	overflow: hidden;
}

.right_box{
	float:right;
	width:80%;
	height: 90%;
	padding: 30px;
	/* background: rgb(218, 218, 218); 구역 확인용 */
	/* box-sizing : border-box; padding 설정여부 상관없이 원래 사이즈대로 공간설정 */
}

/* 좌측 메뉴 디자인 */
.spread-underline {
	font-size: 20px;
	color: #333;
	text-decoration: none;
	display: inline-block;
	padding: 30px 0;
	position: relative;
	
}

.spread-underline:hover{
	font-weight: 900;
}

.spread-underline:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  background: #212121;
  width: 0;
}

.spread-underline:hover:after {
  width: 100%;
  left: 0;
}


/* 현재 페이지 메뉴 글자 굵게 */
.checked{
	font-weight: 900;
}

/* 페이지 스크롤 */
.container{
	margin: 0 auto;
	padding: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	height: 90%;
	width: 80%;
}


/* 여행코스 타이틀 스타일 */

.title blockquote{
  position:relative;
  border-top:1px solid #0D689C;
  border-bottom:1px solid #0D689C;
  padding:10px;
  text-align: center;
}

.title p{
	font-size: 30px;
	font-weight: 500;
	margin: 0;
}

.overview-text{
	width:100%;
	margin:0 auto;
}

.overview-text blockquote {
    margin: 0px 0px 1.75em 0px;
    position: relative;
    padding: 20px 55px;
  background: #F9F9F9;
}

.overview-text blockquote:after {
    content: "\201C";
    font-size: 76px;
    position: absolute;
    top: -15px;
  left: 10px;
    color: #0D689C;
}

.overview-text blockquote p {
	max-width: 100%;
  padding: 0;
  margin: 0 auto;
  font-size: 17px;
}





/* 타임라인 디자인 */

/* The actual timeline (the vertical ruler) */
.main-timeline-2 {
  position: relative;
}

/* The actual timeline (the vertical ruler) */
.main-timeline-2::after {
  content: "";
  position: absolute;
  width: 3px;
  background-color: #26c6da;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.timeline-2 {
  position: relative;
  background-color: inherit;
  width: 40%;
}

/* The circles on the timeline */
.timeline-2::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -11px;
  background-color: #26c6da;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.timeline-2:nth-child(odd) {
  padding: 0px 40px 20px 0px;
  left: -20%;
}

/* Place the container to the right */
.timeline-2:nth-child(even) {
  padding: 0px 0px 20px 40px;
  left: 20%;
}

/* Add arrows to the left container (pointing right) */
.timeline-2:nth-child(odd)::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.timeline-2:nth-child(even)::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.timeline-2:nth-child(even)::after {
  left: -14px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .main-timeline-2::after {
    left: 31px;
  }

  /* Full-width containers */
  .timeline-2 {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .timeline-2::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .timeline-2:nth-child(odd)::after,
  .timeline-2:nth-child(even)::after {
    left: 18px;
  }

  .timeline-2:nth-child(odd)::before {
    right: auto;
  }

  /* Make all right containers behave like the left ones */
  .timeline-2:nth-child(even) {
    left: 0%;
  }
}


.fw-bold a{
	text-decoration: none;
	color: black;
	
}

.subtitle{
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: 500;
}
