@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

*{
	margin:0 auto;
	padding: 0;
	font-family: "Noto Sans KR";
}

.noto-sans  {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


html, body {
	margin: 0;
	height: 100%;
	overflow: hidden;
}

#course_detail_wrapper{
	margin-top: 80px;
	width: 100%;
	height: 100%;
}
.left_box{
	float:left;
	width:20%;
	height: 100%;
	padding: 50px;
	text-align: center;
    position: static;
	border-right: solid 1px gray;
	background: rgb(244,252,255);
	box-sizing : border-box; /* padding 설정여부 상관없이 원래 사이즈대로 공간설정 */
	overflow: hidden;
}

.right_box{
	float:right;
	width:80%;
	height: 90%;
	padding: 30px;
	/* background: rgb(218, 218, 218); 구역 확인용 */
	/* box-sizing : border-box; padding 설정여부 상관없이 원래 사이즈대로 공간설정 */
}

/* 좌측 메뉴 디자인 */
.spread-underline {
	font-size: 20px;
	color: #333;
	text-decoration: none;
	display: inline-block;
	padding: 30px 0;
	position: relative;
	
}

.spread-underline:hover{
	font-weight: 900;
}

.spread-underline:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  background: #212121;
  width: 0;
}

.spread-underline:hover:after {
  width: 100%;
  left: 0;
}


/* 현재 페이지 메뉴 글자 굵게 */
.checked{
	font-weight: 900;
}

/* 페이지 스크롤 */
.container{
	margin: 0 auto;
	padding: 0;
	overflow-x: hidden;
	/* overflow-y: scroll; */
	height: 90%;
	width: 80%;
}


/* 여행코스 타이틀 스타일 */

.title blockquote{
  position:relative;
  border-top:1px solid #0D689C;
  border-bottom:1px solid #0D689C;
  padding:10px;
  text-align: center;
}

.title p{
	font-size: 30px;
	font-weight: 500;
	margin: 0;
}

.overview-text{
	width: 1000px;
	margin:0 auto;
}

.overview-text blockquote {
    margin: 0px 0px 1.75em 0px;
    position: relative;
    padding: 20px 55px;
  background: #F9F9F9;
}

.overview-text blockquote:after {
    content: "\201C";
    font-size: 76px;
    position: absolute;
    top: -15px;
  left: 10px;
    color: #0D689C;
}

.overview-text blockquote p {
	max-width: 100%;
  padding: 0;
  margin: 0 auto;
  font-size: 17px;
}


/* 작성자 */
.writer-text{
	text-align: right;
	margin-top: 5px;
	margin-bottom: 15px;
	margin-right: 90px;
}

.writer{
	padding: 5px;
	border-radius: 5px;
	font-size: 15px;
	font-weight: 500;
}
/* 내용 디자인 */
#preoverview{
	font-size: 17px;
	font-family: "Noto Sans KR";
	overflow: hidden;
    white-space: pre-wrap;
}



/* 카드 디자인 */

.projcard-container {
	margin: 50px 0;
}

.projcard-container,
.projcard-container * {
	box-sizing: border-box;
}
.projcard-container {
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}
.projcard {
	position: relative;
	width: 100%;
	height: 300px;
	margin-bottom: 40px;
	border-radius: 10px;
	background-color: #fff;
	border: 2px solid #ddd;
	font-size: 18px;
	overflow: hidden;
	cursor: pointer;
	box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .66);
	transition: box-shadow 0.2s ease, transform 0.2s ease;
}
.projcard:hover {
	box-shadow: 0 34px 32px -33px rgba(0, 0, 0, .18);
	transform: translate(0px, -3px);
}
.projcard::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(-70deg, #424242, transparent 50%);
	opacity: 0.07;
}
.projcard:nth-child(2n)::before {
	background-image: linear-gradient(-250deg, #424242, transparent 50%);
}
.projcard-innerbox {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.projcard-img {
	position: absolute;
	height: 300px;
	width: 400px;
	top: 0;
	left: 0;
	transition: transform 0.2s ease;
}
.projcard:nth-child(2n) .projcard-img {
	left: initial;
	right: 0;
}
.projcard:hover .projcard-img {
	transform: scale(1.05) rotate(1deg);
}
.projcard:hover .projcard-bar {
	width: 70px;
}
.projcard-textbox {
	position: absolute;
	top: 7%;
	bottom: 7%;
	left: 430px;
	width: calc(100% - 470px);
	font-size: 17px;
	margin-top: 15px;
}
.projcard:nth-child(2n) .projcard-textbox {
	left: initial;
	right: 430px;
}
.projcard-textbox::before,
.projcard-textbox::after {
	content: "";
	position: absolute;
	display: block;
	background: #ff0000bb;
	background: #fff;
	top: -20%;
	left: -55px;
	height: 140%;
	width: 60px;
	transform: rotate(8deg);
}
.projcard:nth-child(2n) .projcard-textbox::before {
	display: none;
}
.projcard-textbox::after {
	display: none;
	left: initial;
	right: -55px;
}
.projcard:nth-child(2n) .projcard-textbox::after {
	display: block;
}
.projcard-textbox * {
	position: relative;
}
.projcard-title {
	font-family: "Noto Sans KR";
	font-size: 24px;
	margin-bottom: 10px;
}
.projcard-subtitle {
	font-family: "Noto Sans KR";
	color: #888;
}
.projcard-bar {
	left: -2px;
	width: 50px;
	height: 5px;
	margin: 10px 0;
	border-radius: 5px;
	background-color: #424242;
	transition: width 0.2s ease;
}
.projcard-blue .projcard-bar { background-color: #0088FF; }
.projcard-blue::before { background-image: linear-gradient(-70deg, #0088FF, transparent 50%); }
.projcard-blue:nth-child(2n)::before { background-image: linear-gradient(-250deg, #0088FF, transparent 50%); }
.projcard-customcolor .projcard-bar { background-color: var(--projcard-color); }
.projcard-customcolor::before { background-image: linear-gradient(-70deg, var(--projcard-color), transparent 50%); }
.projcard-customcolor:nth-child(2n)::before { background-image: linear-gradient(-250deg, var(--projcard-color), transparent 50%); }
.projcard-description {
	z-index: 10;
	font-size: 15px;
	color: #424242;
	/* height: 140px; */
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
}

.projcard-num{
	background: #96C7ED;
	font-size: 20px;
	border-radius: 30px;
	margin-right: 5px;
	padding: 0px 9px 2px 9px;
}


/* @@@@@@ 댓글 디자인 @@@@@@@@ */

button[type="button"]{
	background: #96C7ED;
	color: #333333;
	border: none;
	margin: 0 auto;
    padding: 10px 10px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

button[type="button"]:hover{
  background: #70d2e2d4;
  color: #333333;
}


.blog-comment::before,
.blog-comment::after,
.blog-comment-form::before,
.blog-comment-form::after{
    content: "";
	display: table;
	clear: both;
}

.blog-comment{
    padding-left: 10%;
	padding-right: 10%;
}

.blog-comment ul{
	list-style-type: none;
	padding: 0;
}

.blog-comment img{
	opacity: 1;
	filter: Alpha(opacity=100);
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	  	 -o-border-radius: 4px;
			border-radius: 4px;
}

.blog-comment img.avatar {
	position: relative;
	float: left;
	margin-left: 0;
	margin-top: 0;
	width: 65px;
	height: 65px;
}

.blog-comment .post-comments{
	border: 1px solid #eee;
    margin-bottom: 20px;
    margin-left: 85px;
	margin-right: 0px;
    padding: 10px 20px;
    position: relative;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
       	 -o-border-radius: 4px;
    		border-radius: 4px;
	background: #fff;
	color: #6b6e80;
	position: relative;
}

.blog-comment .meta {
	font-size: 15px;
	color: #aaaaaa;
	padding-bottom: 8px;
	margin-bottom: 10px !important;
	border-bottom: 1px solid #eee;
}

.blog-comment ul.comments ul{
	list-style-type: none;
	padding: 0;
	margin-left: 85px;
}

.blog-comment-form{
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 40px;
}

.blog-comment h4,
.blog-comment-form h4{
	margin-top: 40px;
	margin-bottom: 10px;
	font-size: 20px;
	line-height: 30px;
	font-weight: 800;
}

.blog-comment span{
	font-size: 18px;
	margin-right: 10px;
	font-weight: 600;
	color: black;
}

.pull-right{
	float: right;
}

.pull-right a{
	margin-left: 5px;
}

#comment-content{
	color:#353535;
}

#content{
	width: 80%;
}

.comment-header{
	text-align: center;
	width:100%;
}

.comment-button{
	margin-bottom: 5px;
	float: right;
}
.comment-button button{
	background: #dadada;
	padding: 5px;
	font-size: 12px;
	margin-left: 5px;
}

.comment-button button:hover{
	background: #a5d8ff;
}

/* 수정 삭제 버튼 */
.buttons-wrapper{
	text-align: right;
}
.buttons-wrapper button{
	border-style: none;
	padding: 5px;
	border-radius: 10px;
	margin-right: 8px;
	background: #cbdeff;
}

.buttons-wrapper button:hover{
	background: #a4c5ff;
}



/* 모달창 */

.contentItem{
	margin-bottom: 10px;
	list-style: none;
}
.contentImage{
	width: 150px;
}
 .contentItem:last-child {
	 margin-bottom: 0;
}
.contentTitle{
	font-size: 16px;
	font-weight: 600;
	margin-top: 10px;
}
.contentcontentid{
	display:none;
}
.contentCheckbox{
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

.modal-body{
	width: 600px;
}

.form-group{
	margin-bottom: 15px;
}

.form-group label{
	margin-bottom: 5px;
	font-weight: 600;
	background: #d5edff;
	padding: 5px;
	border-radius: 5px;
}

.modal-footer button{
	margin: 0px;
	border: none;
	padding: 5px;
	margin-right: 10px;
	border-radius: 5px;
	background : #ade1ff;
}

.modal-footer button:hover{
	background : #6dcaff;
}
