@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

*{
	margin:0 auto;
	padding: 0;
	font-family: "Noto Sans KR";
}

.noto-sans  {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

html, body {
	margin: 0;
	height: 100%;
	overflow: hidden;
}

#course_write_wrapper{
	margin-top: 80px;
	width: 100%;
	height: 100%;
}

.left_box{
	float:left;
	width:20%;
	height: 100%;
	padding: 50px;
	text-align: center;
    position: static;
	border-right: solid 1px gray;
	background: rgb(244,252,255);
	box-sizing : border-box; /* padding 설정여부 상관없이 원래 사이즈대로 공간설정 */
	overflow: hidden;
}

.right_box{
	float:right;
	width:80%;
	height: 100%;
	padding: 30px;
	/* background: rgb(218, 218, 218); 구역 확인용 */
	/* box-sizing : border-box; padding 설정여부 상관없이 원래 사이즈대로 공간설정 */
}

.side_tab{
	overflow:hidden;
	width: 100%;
}

.side_tab li{
	margin-top: 30px;
	margin-bottom: 30px;
	list-style: none;
}

.spread-underline {
	font-size: 20px;
	color: #333;
	text-decoration: none;
	display: inline-block;
	padding: 30px 0;
	position: relative;
	
}

.spread-underline:hover{
	font-weight: 900;
}

.spread-underline:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  background: #212121;
  width: 0;
}

.spread-underline:hover:after {
  width: 100%;
  left: 0;
}

/* 해당 메뉴 페이지 접속 시 글자 두껍게 */
.checked{
	font-weight: 900;
}



/* 폼 디자인 */
.form-title {
  margin: 0;
  color: #8495a5;
  font-size: 30px;
  font-weight: 300;
}

.container {
  margin: auto;
  width: 70%;
}

.container, label, input[name="submit"] {
  position: relative;
}

span, input, textarea, button {
  box-sizing: border-box;
}

input, textarea{
  width: 100%;
  padding: 0.5em;
  border: none;
}

#submit{
	float:right;
}

.form-row{
	margin: 15px;
}

.btn{
	background: #0D689C;
	color: white;
}

.btn:hover{
	background: #1989ca;
	color: white;
}

input[type="text"], textarea {
  border: 1px solid #ccc;
  outline: none;
}

textarea {
  height: 30em;
}


/* Modal */
.cartItem{
	margin-bottom: 35px;	
}
.cartimage{
	width: 150px;
}
 .cartItem:last-child {
        margin-bottom: 0;
}
.carttitle{
	font-size: 16px;
	font-weight: 600;
	margin-top: 10px;
}
.cartcontentid{
	display:none;
}
.cartCheckbox{
	width: 13px;
}
.cartCheckbox{
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

